header {
	position: fixed;
	left:0px;
	top: 0px;
	height: 60px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: olivedrab;
	font-size: 30px;
	color: white;
}

main {
	display: grid;
	padding-top: 60px;
}

footer {
	position: relative;
	left: 0px;
  	bottom: 0px;
	width: 100%;
	background-color: olivedrab;
	text-align: center;
	font-size: 20px;
}

#portal_button {
	position: fixed;
	right: 30px;
	top: 10px;
}

a {
	color: blue;
	text-decoration: none;
}

#chesspiece{
	position: relative;
	float: left;
	height: 50px;
	bottom: 5px;
}

#newsfeed {
	max-width: 600px;
	min-width: 600px;
	margin: auto;
	text-align: justify;
	justify-content: center;
}

#title{
	justify-content: left;
	text-align: left;
	margin-left: 450px;
}

.feedImg {
	max-width: 250px;
	max-height: 250px;
}

.date{
	font-size: 14px;
}

#footlink{
	color: black;
	text-decoration: underline;
}